/* styles in this plugin */
.steem-plugin__w100 {
  width: 100%;
}

.steem-plugin__w80 {
  width: 80%;
}

.steem-plugin__loading {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 200px;
}

/* modal */
.steem-plugin.modal-content .setting-item.no-border {
  padding-top: 0;
  border: 0;
}
.steem-plugin.modal-content .setting-item.full-width .setting-item-control {
  flex-grow: 2
}
.steem-plugin.modal-content .setting-item.full-width .setting-item-info {
  width: 15px;
}
.steem-plugin.modal-content .setting-item-control input[type='text'] {
  width: 100%;
}
.steem-plugin.modal-content .setting-item-control input[type='text']:disabled {
  border-color: var(--background-modifier-border);
  color: grey;
  opacity: 0.8;
}